.city {
  padding: 2rem 3rem;
  max-height: 70%;
  border-radius: 7px;
  border: 1px solid white;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.city h6 {
  font-weight: 900;
  color: white;
}

.city h3 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.city h3 span {
  line-height: 1;
}

.city p {
}

.city a:link,
.city a:visited {
  color: var(--color-brand--1);
}
