@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--0: #242a2e;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: #d6dee0;
}

*{
  transition: all 0.3s ease-in-out;
}


/* sizing of map*/
.leaflet-container {
  width: 80%;
  height: 100%;
}
.gradientBg {
  background: linear-gradient(99deg, #77b0aa 0%, #4d869c 100%);
}
body{
  background-color: var(--body_background);
  
}
.darkApp{
  background-color: var(--body_background);
  color: var(--body_color);
}
nav {
  z-index: 10001 !important;
}
:root {
  --body_background: white;
  --body_color: black;
}
[data-theme="dark"] {
  --body_background: #151617;
  --body_color: white;
}

